 @model Gezmo_PC_Store.Models.ProductsPageModel

@{
    Layout ="_Layout";
}
@{
    var Globals = ViewData["Globals"] as GlobalModels;
}
<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">All Products</a></li>
                        <li><hr class="dropdown-divider"/></li>
                        <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                        <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                    </ul>
                </li>
            </ul>

            <div class="dropdown">
                <form class="d-flex">
                    <button
                        class="btn btn-outline-dark dropdown-toggle"
                        type="button"
                        id="cartDropdown"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="bi-cart-fill me-1"></i>
                        Cart
                        <span class="badge bg-dark text-white ms-1 rounded-pill">
                            @Globals.cart.Total()
                        </span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="cartDropdown">

                        @{
                            if (Globals.cart.IsEmpty())
                            {
                                <li style="padding: 9px">No Items currently</li>
                            }
                            else
                            {
                                foreach (var cart_item in Globals.cart.Items)
                                {
                                    <li><a class="dropdown-item" href="#">@cart_item.item.ProductName @cart_item.quantity</a></li>
                                }

                                <li><hr class="dropdown-divider"/></li>
                                <li><a class="dropdown-item" asp-controller="OrderDetails" asp-action="OrderDetails">see order details</a></li>
                            }
                        }

                    </ul>
                </form>
            </div>


        </div>
    </div>
</nav>
<div class ="ss" style="background-color:orange; margin-top:100px; padding: 20px"><h1 style="color:whitesmoke">@Model.Type</h1></div>
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (var prod in Model.Products)
            {
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="/desktop-wallpaper-pc-hardware-pc-hardware-thumbnail.jpg" alt="..."/>
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">@prod.Name</h5>
                                <!-- Product price-->
                                @prod.Price
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" asp-controller="ProductDetailsPage" asp-action="ProductDetails" asp-route-product_id="@prod.ProductId">Product Details</a></div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        @{
            for(int pg=Model.PageFromLeft;pg < Model.PageFromRight;++pg)
            {
                <li class="page-item"><a class="page-link" asp-controller="ProductsPage" asp-action="ProductsPage" asp-route-page=@pg asp-route-pageFromLeft=@Model.PageFromLeft asp-route-type=@Model.Type>@pg</a></li>
            }
        }
      <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>