@model Gezmo_PC_Store.Models.MainModel
@{
    ViewData["Title"] = "Home Page";
    
}
@{
    var Globals = ViewData["Globals"] as GlobalModels;
}
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Gezmo PC Store</title>
        <link rel="icon" type="image/x-icon" href="favicon.ico" />
        <link rel="stylesheet" href= "~/css/Main.css?v=12345" asp-append-version="true" />
       
        
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
               
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#!">All Products</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                                <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                            </ul>
                        </li>
                    </ul>

                    <div class="dropdown">
                        <form class="d-flex">
                            <button
                                class="btn btn-outline-dark dropdown-toggle"
                                type="button"
                                id="cartDropdown"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                            >
                                <i class="bi-cart-fill me-1"></i>
                                Cart
                                <span class="badge bg-dark text-white ms-1 rounded-pill">
                                    @Globals.cart.Total()
                                </span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="cartDropdown">
                               
                                @{
                                    if (Globals.cart.IsEmpty())
                                    {
                                        <li style="padding: 9px">No Items currently</li>  
                                    }
                                    else
                                    {
                                        foreach (var cart_item in Globals.cart.Items)
                                        {
                                            <li><a class="dropdown-item" href="#">@cart_item.item.ProductName           @cart_item.quantity</a></li>
                                        }  
                                        <li><hr class="dropdown-divider" /></li>
                                        <li><a class="dropdown-item" asp-controller="OrderDetails" asp-action="OrderDetails">see order details</a></li>
                                    }
                                }
                                
                            </ul>
                        </form>
                    </div>


                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Shop in style</h1>
                    <p class="lead fw-normal text-white-50 mb-0">With Gezmo</p>
                </div>
            </div>
        </header>
        <div class ="ss" style="background-color:orange; margin-top:100px; padding: 20px"><a href="#!"  style="text-decoration: none"><h1 style="color:whitesmoke">Popular Items</h1></a></div>
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                 @foreach(var prod in Model.BestSeller)
                 {
                     <div class="col mb-5">
                         <div class="card h-100">
                             <!-- Product image-->
                             <img class="card-img-top" src="/desktop-wallpaper-pc-hardware-pc-hardware-thumbnail.jpg" alt="..." />
                             <!-- Product details-->
                             <div class="card-body p-4">
                                 <div class="text-center">
                                     <!-- Product name-->
                                     <h5 class="fw-bolder">@prod.Name</h5>
                                     <!-- Product price-->
                                     @prod.Price
                                 </div>
                             </div>
                             <!-- Product actions-->
                             <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                 <div class="text-center"><a class="btn btn-outline-dark mt-auto" asp-controller="ProductDetailsPage" asp-action="ProductDetails" asp-route-product_id="@prod.ProductId">Product Details</a></div>
                             </div>
                         </div>
                     </div>
                 }
                </div>
            </div>
        </section>
        <div class ="ss" style="background-color:orange; margin-bottom:0px; padding: 20px"><a href="#!" style="text-decoration: none"><h1 style="color:whitesmoke">New Arrivals</h1></a></div>
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    @foreach(var prod in Model.AllProducts)
                    {
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img-top" src="/desktop-wallpaper-pc-hardware-pc-hardware-thumbnail.jpg" alt="..." />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">@prod.Name</h5>
                                        <!-- Product price-->
                                        @prod.Price
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" asp-controller="ProductDetailsPage" asp-action="ProductDetails" asp-route-product_id="@prod.ProductId">Product Details</a></div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
        <div class ="ss" style="background-color:orange; margin-bottom:0px; padding: 20px"><a href="#!" style="text-decoration: none"><h1 style="color:whitesmoke">All Items</h1></a></div>
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    @foreach(var prod in Model.AllProducts)
                    {
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img-top" src="/desktop-wallpaper-pc-hardware-pc-hardware-thumbnail.jpg" alt="..." />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">@prod.Name</h5>
                                        <!-- Product price-->
                                        @prod.Price
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" asp-controller="ProductDetailsPage" asp-action="ProductDetails" asp-route-product_id="@prod.ProductId">Product Details</a></div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Gezmo PC Store @DateTime.Now.Year.ToString()</p></div>
        </footer>
         
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        
    </body>
</html>